// Badge
// --------------------------------------------------------

.badge
  padding: 5px 10px
  text-align: center
  border-radius: 50%

.badge-medium
  padding: 12px 18px
  text-align: center
  border-radius: 50%

.badge-large
  padding: 18px 24px
  text-align: center
  border-radius: 50%

.badge-rounded-square
  padding: 5px 10px
  text-align: center
  border-radius: 35%

.badge-red
  background-color: $color-red
  color: white

.badge-blue
  background-color: $color-blue
  color: white

.badge-green
  background-color: $color-green
  color: white

.badge-orange
  background-color: $color-orange
  color: white
