
// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit']
  background-color: $color-button-main
  border: .1rem solid $color-secondary
  border-radius: .4rem
  color: $color-primary
  cursor: pointer
  display: inline-block
  font-size: 1.5rem
  font-weight: 700
  height: 4.4rem
  letter-spacing: .1rem
  line-height: 3.8rem
  padding: 0 3.0rem
  text-align: center
  text-decoration: none
  white-space: nowrap

  &:focus,
  &:hover
    background-color: $color-button-main-hover
    border-color: $color-secondary
    color: $color-primary
    outline: 0

  &[disabled]
    cursor: default
    opacity: .5

    &:focus,
    &:hover
      background-color: $color-tertiary
      border-color: $color-tertiary

  &.button-outline
    background-color: transparent
    color: $color-primary

    &:focus,
    &:hover
      background-color: transparent
      border-color: $color-secondary
      color: $color-secondary

    &[disabled]

      &:focus,
      &:hover
        border-color: inherit
        color: $color-primary

  &.button-clear
    background-color: transparent
    border-color: transparent
    color: $color-primary

    &:focus,
    &:hover
      background-color: transparent
      border-color: transparent
      color: $color-secondary

    &[disabled]

      &:focus,
      &:hover
        color: $color-primary

  &.button-green
    background-color: $color-button-green
    border-color: $color-button-green-border
    color: white

    &:hover,
    &:focus
      background-color: $color-button-green-hover
      border-color: $color-button-green-hover
      color: white

  &.button-orange
    background-color: $color-button-orange
    border-color: $color-button-orange-border
    color: white

    &:hover,
    &:focus
      background-color: $color-button-orange-hover
      border-color: $color-button-orange-border
      color: white

  &.button-red
    background-color: $color-button-red
    border-color: $color-button-red-border
    color: white

    &:hover,
    &:focus
      background-color: $color-button-red-hover
      border-color: $color-button-red-border
      color: white

  &.button-blue
    background-color: $color-button-blue
    border-color: $color-button-blue-border
    color: white

    &:hover,
    &:focus
      background-color: $color-button-blue-hover
      border-color: $color-button-blue-border
      color: white