// Card
// ----------------------------------------------------

.card,
.mid-card
    background: $color-card
    margin: 2rem .7rem .7rem .7rem
    padding: 1rem 1rem 1rem 2rem
    box-shadow: 0 .2rem .3rem 0 rgba($color-shadow, 0.2)
    transition: 0.3s
    display: flex
    flex-direction: column
    height: 95%

    &:hover
        box-shadow: 0 .5rem 1rem 0 rgba($color-shadow, 0.2)

.card-content
    padding: 1rem 1rem 1rem


.card,
.card-content
    flex: auto

.card-actions
    padding: .7rem .4rem .3rem 0
    border-top: 1px solid #d1d1d1

.mid-card
    max-width: 500px
