// Checkbox - Custom
// -----------------------------------------------------------------------

// pulled mostly from 
// @link https://moderncss.dev/pure-css-custom-checkbox-style/

:root
  --mg-checkbox-color: $color-primary
  --mg-checkbox-disabled: $color-disabled

*,
*:before,
*:after 
  box-sizing: border-box

.mg-checkbox 
  font-family: system-ui, sans-serif
  font-size: 2rem
  font-weight: bold
  line-height: 1.1
  display: grid
  grid-template-columns: 1em auto
  gap: 0.5em

.mg-checkbox + .mg-checkbox 
  margin-top: 1em

.mg-checkbox--disabled 
  color: $color-disabled
  cursor: not-allowed

input[type="checkbox"] 
  // Add if not using autoprefixer 
  -webkit-appearance: none
  // Remove most all native input styles
  appearance: none
  // for iOS < 15
  background-color: $color-initial
  margin: 0

  font: inherit
  color: $color-primary
  width: 1.15em
  height: 1.15em
  border: 0.15em solid $color-primary
  border-radius: 0.15em
  transform: translateY(-0.075em)
  display: grid
  place-content: center

input[type="checkbox"]::before 
  content: ""
  width: 0.65em
  height: 0.65em
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%)
  transform: scale(0)
  transform-origin: bottom left
  transition: 120ms transform ease-in-out
  box-shadow: inset 1em 1em $color-primary
  /* Windows High Contrast Mode */
  background-color: CanvasText

input[type="checkbox"]:checked::before 
  transform: scale(1)

input[type="checkbox"]:focus 
  outline: max(2px, 0.15em) solid $color-primary
  outline-offset: max(2px, 0.15em)

input[type="checkbox"]:disabled 
  color: $color-disabled
  cursor: not-allowed
