// Chip
// ----------------------------------------------------

.chip
    display: inline-block
    padding: 0 25px
    height: 50px
    font-size: 16px
    line-height: 50px
    border-radius: 25px
    background-color: #18014a
    color: $color-primary

.closeBtn
    padding-left: 10px
    color: #dbdada
    font-weight: bold
    float: right
    font-size: 20px
    cursor: pointer

    &:hover
        color: #000