
// Code
// ––––––––––––––––––––––––––––––––––––––––––––––––––

code
  background: $color-drop-hover
  border-radius: .4rem
  font-size: 86%
  margin: 0 .2rem
  padding: .2rem .5rem
  white-space: nowrap
  color: $color-tertiary

pre
  background: $color-header
  font-size: 1.6rem
  border-left: .3rem solid $color-initial
  overflow-y: hidden

  & > code
    border-radius: 0
    display: block
    padding: 1rem 1.5rem
    white-space: pre
