// Dropdown Button
// ------------------------------------------

.dropdn-btn
  background-color: $color-button-main
  color: $color-primary
  padding: 0 3.0rem
  font-size: 1.5rem
  border: none
  cursor: pointer

.dropdn
  position: relative
  display: inline-block

.dropdn-content 
  display: none
  position: absolute
  background-color: $color-dropdown
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(73, 73, 73, 0.2)
  z-index: 11

.dropdn-content a 
  color: $color-primary
  padding: 1.2rem 1.5rem
  text-decoration: none
  display: block

.dropdn-content a:hover
    background-color: $color-dropdown-hover

.dropdn:hover .dropdn-content 
  display: block

.dropdn:hover .dropdn-btn
  background-color: $color-dropdown-btn-hover
