// Modal
// ------------------------------------------

.modal
    display: none
    position: fixed
    z-index: 20
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: $color-overlay
    background-color: rgba($color-overlay, 0.4)

.modal-content
    background-color: $color-modal
    margin: auto
    /* 15% from the top and centered *
    padding: 0
    border: 1px solid $color-tertiary
    width: 60%
    box-shadow: 0 4px 8px 0 rgba(197, 174, 174, 0.2),0 6px 20px 0 rgba(0,0,0,0.19)
    animation-name: animatetop
    animation-duration: 0.4s

.close
    color: $color-quaternary
    float: right
    font-size: 2.8rem
    font-weight: bold

    &:hover,
    &:focus
        color: $color-secondary
        text-decoration: none
        cursor: pointer

/* Modal Header */
.modal-header
  padding: 1.3rem 4rem
  background-color: $color-modal-header-footer
  color: $color-primary

/* Modal Body */
.modal-body
    padding: 1.3rem 4rem

/* Modal Footer */
.modal-footer 
  padding: 1.3rem 4rem
  background-color: $color-modal-header-footer
  color: $color-primary

/* Add Animation */
@keyframes animatetop
  from
    top: -300px
    opacity: 0
  to
    top: 0
    opacity: 1
