// Nav
// ----------------------------------------

// Style the header with a grey background and some padding
.header
  overflow: hidden
  background-color: $color-header
  padding: 20px 30px

// Style the header links
.header a
  float: left
  color: $color-primary
  text-align: center
  padding: 12px
  text-decoration: none
  font-size: 18px
  line-height: 25px
  border-radius: 4px

// Change the background color on mouse-over
.header a:hover
  background-color: $color-drop-hover
  color: $color-primary

// Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger
.header a.logo 
  font-size: 25px
  font-weight: bold

// Style the active/current link
.header a.active
  background-color: $color-quaternary
  color: $color-primary

// Float the link section to the right
.header-right
  float: right

// Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other
@media screen and (max-width: 500px)
  .header a 
    float: none
    display: block
    text-align: left

  .header-right
    float: none