// Navigaton dropdown
// ---------------------------------------------------

// The dropdown container
.dropdown
  float: left
  overflow: hidden


// Dropdown button 
.dropdown .dropbtn
  float: left
  background-color: inherit
  border: none
  font-family: inherit
  color: $color-primary
  text-align: center
  padding: 12px
  text-decoration: none
  font-size: 18px
  line-height: 25px
  border-radius: 4px

// Dropdown content (hidden by default)
.dropdown-content
  display: none
  position: absolute
  background-color: $color-initial
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1

// Links inside the dropdown
.dropdown-content a
  float: none
  color: $color-primary
  padding: 12px 16px
  text-decoration: none
  display: block
  text-align: left

// Add a grey background color to dropdown links on hover
.dropdown-content a:hover
  background-color: $color-drop-hover
  color: $color-primary

// Show the dropdown menu on hover
.dropdown:hover .dropdown-content
  display: block
