// Sidenav
// ------------------------------------------------------

.sidenav
    height: 100%
    width: 0
    position: fixed
    z-index: 5
    top: 0
    left: 0
    background-color: #030950
    overflow-x: hidden
    padding-top: 60px
    transition: 0.5s

    & a
        padding: 8px 8px 8px 32px
        text-decoration: none
        font-size: 1.6rem
        display: block
        transition: 0.3s

        &:hover
                color: #038651

    & .closebtn
        position: absolute
        top: 40px
        right: 25px
        font-size: 1.9rem
        margin-left: 50px

#main
    transition: margin-left .5s
    padding: 20px