
// Table
// ––––––––––––––––––––––––––––––––––––––––––––––––––

table
  border-spacing: 0
  display: block
  overflow-x: auto
  text-align: left
  width: 100%

td,
th
  border-bottom: .1rem solid $color-quinary
  padding: 1.2rem 1.5rem

th
  background: $color-table-header

  &:first-child
    padding-left: 5px

  &:last-child
    padding-right: 5px

.striped tr:nth-child(even)
  background-color: $color-table-even-row-striping

.highlight tr:hover
  background-color: $color-table-highlight

@media (min-width: 40.0rem)

  table
    display: table
    overflow-x: initial
