// Tabs
// ------------------------------------------

.tabs
  display: flex
  flex-wrap: wrap


.radiotab 
  position: absolute
  opacity: 0

.label 
  width: 100%
  background: $color-tab
  cursor: pointer

.label:active 
  background: $color-tab-active 

.panel
  display: none
  width: 100%

input:checked + .label + .panel
  display: block

@media (min-width: 600px)
  .panel
    order: 99

  .label 
    width: 20%
    border-radius: 10px 10px 0 0
    border-bottom: solid 2px #000