// Tooltip
// ----------------------------------------------------

.tooltip 
    position: relative
    display: inline-block
    border-bottom: 1px dotted $color-shadow

    & .tooltiptext 
        visibility: hidden
        width: 200px
        background-color: $color-overlay
        color: $color-primary
        text-align: center
        border-radius: 4px
        padding: 5px 0
        font-size: 1.6rem

    &:hover .tooltiptext
        visibility: visible

.tooltip-left
    position: absolute
    z-index: 1
    top: -5px
    right: 105%

.tooltip-right
    position: absolute
    z-index: 1
    top: -5px
    left: 105%
        
.tooltip-top
    position: absolute
    z-index: 1
    width: 120px
    bottom: 100%
    left: 50%
    margin-left: -60px

.tooltip-bottom
    position: absolute
    z-index: 1
    width: 120px
    top: 100%
    left: 50%
    margin-left: -60px
