
// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Clear a float with .clearfix
.clearfix

  &:after
    clear: both
    content: ' ' // The space content is one way to avoid an Opera bug.
    display: table

// Float either direction
.left
  float: left

.right
  float: right
